* {
  font-family: "Times New Roman", Times, serif;
}
.vscode-light {
  background-color: white;
  color: black;
}
.vscode-dark {
  background-color: black;
  color: white;
}
a {
  color: blue;
}
.base {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
